* {
	margin: 0px;
	padding: 0px;
	background-color: #fcfcfc;
	
}
header, section, footer, nav, hgroup, aside {
	display: block;
}
body {
	text-align: center;
}

p {
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	
}

.cabecera {
	margin: 15px;
	float: left;
	
	
	
}

.cabecera h1 {
	margin: 20px;
	display: inline;
	
}
.cabecera img {
	display: inline;
	float: left;
	width: 50px;
	
}

.menu ul {
	margin: 15px;
	padding: 15px;
	float: right;
	
	
}

.menu ul li {
	display: inline;
	margin: 20px;
	padding: 20px;
	
	
}

.menu ul li a {
	text-decoration: none;
	font-size: 16px;
	color: /*#1b998b*/ /*#A00AC2*/ #000000 ;
	
}

.menu ul li a:hover {
	text-decoration: none;
	font-size: 16px;
	color: #373737;
	
}

.contenido {
	margin: 15px;
	padding: 15px;
	height: 1000px;
	clear: both;
}

.contenido p {
	width: 100px;
	display: inline;
	
}

.imagen {
	
	width: 150px;
	height: 150px;
	margin: 40px;	

}
.zapas {
	width: 150px;
	height: 150px;
	display: inline;
	
	
	
}
.descripcion {
	margin: 20px;
	padding: 20px;
	text-align: center;
	display: inline;
	position: absolute;
	width: 200px;
	
}

.entrada {
	margin: 50px;
	padding: 50px;
	position: relative;
	top: -1000px;
	right: 10px;
	width: 200px;
	clear: both;
	
	
}

.historia {
	margin: 50px;
	text-align: center;
	clear: both;
}

.pie {
	float: center;
	
}


